.imageContainer {
    /*border: 2px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.title {
    width: 70%;
}

.debatesSections {
    margin-top: 2rem;
}