.pageLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure it takes the full viewport height */
    width: 100%; /* Full width of the viewport */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in size */
}

.leftSection {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*border: 2px solid red;*/
    padding: 0 2rem;
    line-height: 1.4rem;
    background-color: white;
    border-radius: 0 4rem 4rem 0;
}

.leftSectionInDebates {
    border-radius: 4rem 0 0 4rem;
}

.leftSection h2 {
    color: #333;
}

.leftSection p {
    color: black;
}



.sections {
    /*border: 2px solid red;*/
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 2rem;
}
