/* Styles for the HeroSection component */

.heroSection {
    /*justify-content: space-between; !* Center the content horizontally *!*/
    /*padding: .2rem; !* Add spacing *!*/
    width: 100%;
    height: 6rem;
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}


.textRow {
    display: flex; /* Use flexbox for row alignment */
    flex-direction: row; /* Ensure the items are in a single row */
    align-items: center; /* Vertically align h1 and p */
    justify-content: center; /* Add spacing between the h1 and p */
    /*border-color: red;*/
    /*border-width: 2px;*/
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-align: center;
}

.title {
    font-size: 2rem; /* Large title font size */
    color: white; /* Navy blue color */
    margin: 0; /* Remove default margins */
}

.subtitle {
    font-size: 1rem; /* Subtitle font size */
    color: white; /* Dark gray color */
    margin: 0; /* Remove default margins */
}
