.pageLayout {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f8f9fa; /* Light background for better readability */
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: black;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.imageContainer {
    width: 10rem;
    height: 15rem;
    border-radius: 2rem;
    border: 1px solid white;
    overflow: hidden; /* Ensures the image does not exceed the container */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the image inside the container */
    margin-right: 20px;

}
.profilePicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.personalInfo {
    display: flex;
    flex-direction: column;
}

.personalInfo h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #333;
}

.personalInfo p {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    font-size: 20px;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

.partyLogo {
    width: 100px;
    margin-top: 10px;
    border-radius: 5px;
}

.educationList,
.contactList {
    list-style-type: none;
    padding: 0;
}

.educationItem,
.contactItem {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.contactLink {
    color: #007bff;
    text-decoration: none;
}

.contactLink:hover {
    text-decoration: underline;
}

.socialMediaList {
    list-style-type: none;
    padding: 0;
}

.socialMediaItem {
    font-size: 16px;
    color: #007bff;
    margin-bottom: 5px;
}

.biography {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}
