.container {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure it takes the full width */
    margin: auto;
    background-color: #555;
    background-image: url("../../../../../public/images/parliament/vouli2.png");
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-size: cover; /* Ensure the image covers the entire container */
    background-attachment: fixed; /* Fix the background image in place */
    position: relative; /* Needed for z-index to work */
    overflow: hidden; /* Ensure the blur effect doesn't overflow */
    z-index: 1; /* Ensure it stays above the blurred background */
}

.layoutContainer {
    display: flex;
    position: relative; /* Ensure it stays above the background */
    z-index: 2; /* Ensure it stays above the background */
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    object-fit: cover;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.contentContainer {
    width: 100%;
    padding: 4rem 7rem 4rem 7rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative; /* Ensure it stays above the blurred background */
    z-index: 2; /* Ensure it stays above the background */
}

.speechTextContainer {
    display: flex;
    align-items: center;
    width: 85%;
}

.speechContainer {
    margin-bottom: 30px;
    display: flex;
}

.speakerInfo {
    width: 15%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: .35rem;
    /*border: 2px solid red;*/
}

.speakerImage {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid rgba(244, 242, 234, 0.8);
}

.speakerName {
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.speechText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(244, 242, 234, 0.8);
    border-radius: 1rem;
}

.speechParagraph {
    line-height: 1.5;
    color: black;
    font-weight: bolder;
    font-size: 1rem;
}

.loadingTrigger {
    height: 20px;
}

.loadingText {
    text-align: center;
    font-size: 2rem;
    color: black;
}