.ageRangeContainer {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.toggleContainer {
    text-align: left;
}

.sliderContainer, .display {
    width: 60%;
}

.display {
    font-size: 1rem;
    text-align: center;
    color: white;
}
