.partyGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Responsive columns */
    row-gap: 5px; /* Space between items */
    column-gap: 0px;
    justify-content: center; /* Center the grid */
    align-items: start; /* Align items at the top */
    /*padding: 10px;*/
}


.selected {
    border-color: #007bff;
    background-color: rgba(0, 123, 255, 0.1);
}

.selected .partyLabel {
    color: white;
}
