.partyGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: .5rem;
    /*margin-top: 10px;*/
}

.partyItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 5rem;
    width: 3rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
    text-align: center;
}

.partyItem:hover {
    transform: scale(1.1);
}

.partyItem:hover .partyLabel{
    color: white;
}

.selected {
    border-color: #007bff;
    background-color: rgba(0, 123, 255, 0.1);
}

.selected .partyLabel {
    color: white;
}

.imageContainer {
    width: 50px;
    height: 50px;
    border-radius: .5rem;
    border: 2px solid transparent;
    overflow: hidden;
}

.partyImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
    /*margin-bottom: 5px;*/
}

.partyLabel {
    font-size: 0.6rem;
    font-weight: bold;
    color: #333;
}
