@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient3: #A9A9A9;
  --gradient4: #00FF00;
  --gradient2: #BF40BF;
  --gradient1: #7F00FF;
  --button: #093598;
  --functionality: #800080;
  --functionality1: #9F2B68;
  --primary: #f4f2ea;
  --button-hover: white;
}

body {
  font-family: Arial, sans-serif;
  color: black;
  margin: 0;
  background-color: transparent;
  font-size: 1.15rem;
}

.backgroundContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/parliament/vouli2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

.videoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  transition: filter 0.5s ease-in-out;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.5s ease-in-out;
}

.videoContainer.scrolled .video {
  filter: blur(15px);
}

.videoOverlay {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: white;
  transition: opacity 0.5s ease-in-out;
}

.videoOverlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.video-subtitle {
  font-size: 1.5rem;
}

.mainTitle {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  color: white;
}

.content {
  overflow: hidden;
  margin-top: 100vh;
  position: relative;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button {
  padding: 5px 10px;
  color: white;
  background-color: transparent;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border: 1px solid white;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button:hover {
  background: white;
  color: black;
}

.sections {
  border: 1px solid white;
  border-radius: 4rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.politicianContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.subtitle {
  text-align: center;
  padding: 0rem 10%;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

input,
select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: white;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease-in-out;
  background-color: #222;
  border: 2px solid white;
}

input:hover,
select:hover {
}

input::placeholder {
  color: white;
  font-size: 13px;
}

select {
  appearance: none;
  cursor: pointer;
}

select option {
  background-color: #1e1e1e;
  color: white;
  padding: 10px;
}


select::-webkit-scrollbar {
  width: 8px;
}

.showMoreButton {
  font-weight: bold;
  font-size: .75rem;
}


.strong {
  color: #f9d342;
}