.searchSection {
    border-bottom: 2px solid white;
}

.backgroundContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/images/parliament/vouli2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    z-index: -1;
}


.pageLayout {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: black;
    overflow: visible;
}

.debateGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /*border: 2px solid red;*/
    width: 100%;
}
