/* Idio me SpeakerResults */

.searchSection {
    border-bottom: 2px solid white;
}

.backgroundContainer {
    position: fixed; /* Fixes it in place */
    top: 0;
    left: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-image: url("/images/parliament/vouli2.png");
    background-size: cover; /* Ensures full coverage */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    filter: blur(5px); /* Applies blur effect */
    z-index: -1; /* Places it behind everything */
}


.pageLayout {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*height: 100vh;*/
    font-family: Arial, sans-serif;
    background-color: black;
    overflow: visible;
}
